In [3]:
import pandas as pd
import numpy as np
import sqlite3
with sqlite3.connect('data/chinook.db') as connection:
    df_employee = pd.read_sql(
        "SELECT * FROM customers",
        con=connection
    )
    df_invoices = pd.read_sql(
        "SELECT * FROM invoices",
        con=connection
    )
    
emp_invoice = pd.merge(df_employee, df_invoices, on="CustomerId")
emp_invoice.groupby("CustomerId")["Total"].sum()

CustomerId
1     39.62
2     37.62
3     39.62
4     39.62
5     40.62
6     49.62
7     42.62
8     37.62
9     37.62
10    37.62
11    37.62
12    37.62
13    37.62
14    37.62
15    38.62
16    37.62
17    39.62
18    37.62
19    38.62
20    39.62
21    37.62
22    39.62
23    37.62
24    43.62
25    42.62
26    47.62
27    37.62
28    43.62
29    37.62
30    37.62
31    37.62
32    37.62
33    37.62
34    39.62
35    37.62
36    37.62
37    43.62
38    37.62
39    38.62
40    38.62
41    37.62
42    39.62
43    40.62
44    41.62
45    45.62
46    45.62
47    37.62
48    40.62
49    37.62
50    37.62
51    38.62
52    37.62
53    37.62
54    37.62
55    37.62
56    37.62
57    46.62
58    38.62
59    36.64
Name: Total, dtype: float64

In [4]:
df_movie = pd.read_csv("data/movie.csv")
df_movie1 = df_movie[["director_name", "color"]]
df_movie2 = df_movie[["director_name", "num_critic_for_reviews"]]
df_movie3 = pd.merge(df_movie1, df_movie2, on="director_name", how="left")
df_movie4 = pd.merge(df_movie1, df_movie2, on="director_name", how="outer")
print(df_movie3.shape[0])
print(df_movie4.shape[0])

30300
30300

```Part2```

In [5]:
df_titanic = pd.read_excel("data/titanic.xlsx")
titanic_group = df_titanic.groupby(["Pclass"]).agg(avg_age = ("Age", "mean"), 
                                    total_fare=('Fare', 'sum'),
                                    passenger_count=('Pclass', 'count'))  
print(titanic_group )

          avg_age  total_fare  passenger_count
Pclass
1       38.233441  18177.4125              216
2       29.877630   3801.8417              184
3       25.140620   6714.6951              491

In [6]:
df_titanic

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [7]:
movie_group = df_movie.groupby(["director_name", "color"])["num_critic_for_reviews"].sum()
movie_group

director_name       color
A. Raven Cruz       Color      3.0
Aaron Hann          Color     29.0
Aaron Schneider     Color    160.0
Aaron Seltzer       Color     99.0
Abel Ferrara        Color     48.0
                             ...
Zoran Lisinac       Color     17.0
Álex de la Iglesia  Color     71.0
Émile Gaudreault    Color     67.0
Éric Tessier        Color      9.0
Étienne Faure       Color      9.0
Name: num_critic_for_reviews, Length: 2490, dtype: float64

In [8]:
df_movie

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
0,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,...,3054.0,English,USA,PG-13,237000000.0,2009.0,936.0,7.9,1.78,33000
1,Color,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,Action|Adventure|Fantasy,...,1238.0,English,USA,PG-13,300000000.0,2007.0,5000.0,7.1,2.35,0
2,Color,Sam Mendes,602.0,148.0,0.0,161.0,Rory Kinnear,11000.0,200074175.0,Action|Adventure|Thriller,...,994.0,English,UK,PG-13,245000000.0,2015.0,393.0,6.8,2.35,85000
3,Color,Christopher Nolan,813.0,164.0,22000.0,23000.0,Christian Bale,27000.0,448130642.0,Action|Thriller,...,2701.0,English,USA,PG-13,250000000.0,2012.0,23000.0,8.5,2.35,164000
4,NaN,Doug Walker,NaN,NaN,131.0,NaN,Rob Walker,131.0,NaN,Documentary,...,NaN,NaN,NaN,NaN,NaN,NaN,12.0,7.1,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4911,Color,Scott Smith,1.0,87.0,2.0,318.0,Daphne Zuniga,637.0,NaN,Comedy|Drama,...,6.0,English,Canada,NaN,NaN,2013.0,470.0,7.7,NaN,84
4912,Color,NaN,43.0,43.0,NaN,319.0,Valorie Curry,841.0,NaN,Crime|Drama|Mystery|Thriller,...,359.0,English,USA,TV-14,NaN,NaN,593.0,7.5,16.00,32000
4913,Color,Benjamin Roberds,13.0,76.0,0.0,0.0,Maxwell Moody,0.0,NaN,Drama|Horror|Thriller,...,3.0,English,USA,NaN,1400.0,2013.0,0.0,6.3,NaN,16
4914,Color,Daniel Hsia,14.0,100.0,0.0,489.0,Daniel Henney,946.0,10443.0,Comedy|Drama|Romance,...,9.0,English,USA,PG-13,NaN,2012.0,719.0,6.3,2.35,660
4915,Color,Jon Gunn,43.0,90.0,16.0,16.0,Brian Herzlinger,86.0,85222.0,Documentary,...,84.0,English,USA,PG,1100.0,2004.0,23.0,6.6,1.85,456

In [9]:
df_movie.groupby(["director_name", "color"])["duration"].mean()

director_name       color
A. Raven Cruz       Color     97.0
Aaron Hann          Color     87.0
Aaron Schneider     Color    100.0
Aaron Seltzer       Color     85.0
Abel Ferrara        Color     99.0
                             ...
Zoran Lisinac       Color    108.0
Álex de la Iglesia  Color    104.0
Émile Gaudreault    Color     92.0
Éric Tessier        Color     99.0
Étienne Faure       Color     98.0
Name: duration, Length: 2490, dtype: float64

In [13]:
flights.columns

Index(['Year', 'Quarter', 'Month', 'DayofMonth', 'DayOfWeek', 'FlightDate',
       'Reporting_Airline', 'DOT_ID_Reporting_Airline',
       'IATA_CODE_Reporting_Airline', 'Tail_Number',
       ...
       'Div4WheelsOff', 'Div4TailNum', 'Div5Airport', 'Div5AirportID',
       'Div5AirportSeqID', 'Div5WheelsOn', 'Div5TotalGTime',
       'Div5LongestGTime', 'Div5WheelsOff', 'Div5TailNum'],
      dtype='object', length=109)

In [12]:
flights = pd.read_parquet('data/flights')

In [14]:
flights_group = flights.groupby(['Year', 'Month']).agg(
total_flights=('FlightDate', 'size'), 
    avg_arrival_delay=('ArrDelay', 'mean'),  
    max_departure_delay=('DepDelay', 'max')  
)
flights_group

TypeError: agg function failed [how->mean,dtype->object]

```Part3```

In [15]:
def custom_func(age):
    if age<18:
        return "Child"
    else:
        return "Adult"

In [16]:
df_titanic["Age_Group"] = df_titanic["Age"].apply(custom_func)
df_titanic

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Age_Group
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,Adult
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,Adult
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,Adult
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,Adult
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,Adult
...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S,Adult
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S,Adult
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S,Adult
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C,Adult
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q,Adult

In [17]:
conn = sqlite3.connect('data/chinook.db')
employees = pd.read_sql("SELECT * FROM employees", conn)

def normalize(series):
    return (series - series.min()) / (series.max() - series.min())

conn.close()

In [19]:
df_movie

def classify(duration):
    if duration<60:
        return "Short"
    elif duration>=60 and duration<=120:
        return "Medium"
    else:
        return "Long"

df_movie["Classify"] = df_movie["duration"].apply(classify)
df_movie

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes,Classify
0,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,...,English,USA,PG-13,237000000.0,2009.0,936.0,7.9,1.78,33000,Long
1,Color,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,Action|Adventure|Fantasy,...,English,USA,PG-13,300000000.0,2007.0,5000.0,7.1,2.35,0,Long
2,Color,Sam Mendes,602.0,148.0,0.0,161.0,Rory Kinnear,11000.0,200074175.0,Action|Adventure|Thriller,...,English,UK,PG-13,245000000.0,2015.0,393.0,6.8,2.35,85000,Long
3,Color,Christopher Nolan,813.0,164.0,22000.0,23000.0,Christian Bale,27000.0,448130642.0,Action|Thriller,...,English,USA,PG-13,250000000.0,2012.0,23000.0,8.5,2.35,164000,Long
4,NaN,Doug Walker,NaN,NaN,131.0,NaN,Rob Walker,131.0,NaN,Documentary,...,NaN,NaN,NaN,NaN,NaN,12.0,7.1,NaN,0,Long
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4911,Color,Scott Smith,1.0,87.0,2.0,318.0,Daphne Zuniga,637.0,NaN,Comedy|Drama,...,English,Canada,NaN,NaN,2013.0,470.0,7.7,NaN,84,Medium
4912,Color,NaN,43.0,43.0,NaN,319.0,Valorie Curry,841.0,NaN,Crime|Drama|Mystery|Thriller,...,English,USA,TV-14,NaN,NaN,593.0,7.5,16.00,32000,Short
4913,Color,Benjamin Roberds,13.0,76.0,0.0,0.0,Maxwell Moody,0.0,NaN,Drama|Horror|Thriller,...,English,USA,NaN,1400.0,2013.0,0.0,6.3,NaN,16,Medium
4914,Color,Daniel Hsia,14.0,100.0,0.0,489.0,Daniel Henney,946.0,10443.0,Comedy|Drama|Romance,...,English,USA,PG-13,NaN,2012.0,719.0,6.3,2.35,660,Medium
4915,Color,Jon Gunn,43.0,90.0,16.0,16.0,Brian Herzlinger,86.0,85222.0,Documentary,...,English,USA,PG,1100.0,2004.0,23.0,6.6,1.85,456,Medium

```Part4```

In [20]:
def pipelining(df, col_name: str, value: int):
    df[col_name] = value
    df1 = df[df['Survived'] == 1]
    df1['Age'] = df1['Age'].fillna(df1['Age'].mean())

    return df1

df_titanic.pipe(pipelining, 'Fare_Per_Age', df_titanic['Fare'] / df_titanic['Age'])

C:\Users\LENOVO\AppData\Local\Temp\ipykernel_14644\186478161.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['Age'] = df1['Age'].fillna(df1['Age'].mean())

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Age_Group,Fare_Per_Age
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,Adult,1.875876
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,Adult,0.304808
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,Adult,1.517143
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S,Adult,0.412344
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C,Child,2.147914
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
875,876,1,3,"Najib, Miss. Adele Kiamie ""Jane""",female,15.0,0,0,2667,7.2250,NaN,C,Child,0.481667
879,880,1,1,"Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)",female,56.0,0,1,11767,83.1583,C50,C,Adult,1.484970
880,881,1,2,"Shelley, Mrs. William (Imanita Parrish Hall)",female,25.0,0,1,230433,26.0000,NaN,S,Adult,1.040000
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S,Adult,1.578947
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C,Adult,1.153846

In [ ]:
def pipe_flight(df, col_name: str, value: float):
    df1 = df[df["DepDelay"]>30]
    
    df1[col_name] = value
    
flights.pipe(pipe_flight, 'Delay_Per_Hour', (flights['DepDelay']) / (flights['ArrTime']))

TypeError: cannot convert the series to <class 'int'>

In [27]:
flights["ArrTime"]

0          1233
1          1236
2          1220
3          1237
4          1231
           ...
6729120    0940
6729121    0955
6729122    0941
6729123    1004
6729124    0934
Name: ArrTime, Length: 6729125, dtype: object

In [23]:
flights.columns[0:50]

Index(['Year', 'Quarter', 'Month', 'DayofMonth', 'DayOfWeek', 'FlightDate',
       'Reporting_Airline', 'DOT_ID_Reporting_Airline',
       'IATA_CODE_Reporting_Airline', 'Tail_Number',
       'Flight_Number_Reporting_Airline', 'OriginAirportID',
       'OriginAirportSeqID', 'OriginCityMarketID', 'Origin', 'OriginCityName',
       'OriginState', 'OriginStateFips', 'OriginStateName', 'OriginWac',
       'DestAirportID', 'DestAirportSeqID', 'DestCityMarketID', 'Dest',
       'DestCityName', 'DestState', 'DestStateFips', 'DestStateName',
       'DestWac', 'CRSDepTime', 'DepTime', 'DepDelay', 'DepDelayMinutes',
       'DepDel15', 'DepartureDelayGroups', 'DepTimeBlk', 'TaxiOut',
       'WheelsOff', 'WheelsOn', 'TaxiIn', 'CRSArrTime', 'ArrTime', 'ArrDelay',
       'ArrDelayMinutes', 'ArrDel15', 'ArrivalDelayGroups', 'ArrTimeBlk',
       'Cancelled', 'CancellationCode', 'Diverted'],
      dtype='object')